body{
    margin: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.orange-highlight{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(180deg,lightSalmon,tomato);
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
}
img{
    width: 50%;
}
.half-width{
    float: left;
    width: 50%;
}

.top-banner{
    padding-bottom: 100px;
}
